.random-zone {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px 0;
  position: relative;
}

.div-genie {
  align-self: center;
}

.div-shark {
  align-self: flex-start;
}

.div-pokemon {
  align-self: center;
}

.div-rom {
  align-self: flex-start;
}
