.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--bg);
  color: var(--text);
  font-family: var(--sans);
}

.app-body {
  display: flex;
  flex: 1;
  box-shadow: 1px 0 15px -4px black, -1px 0 8px -4px black;
}

.app-main {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .app-body {
    flex-direction: column;
  }
}
